.leaflet-div-icon {
  background: none;
  border: 0;
}

.leaflet-container {
  cursor: crosshair;
}

.hourglass {
  position: relative;
}

.hourglass-active:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: progress;
  background-color: white;
  opacity: 0.5;
  z-index: 1000;
}

.modal {
  display: block;
}
