.leaflet-div-icon {
  background: none;
  border: 0;
}

.line {
  stroke: #000000;
  stroke-width: 0.3px;
  stroke-linecap: round;
  fill: none;
}

.lineText {
  font-size: 3.5px;
  text-anchor: end;
}
